.header{
    background-color: #cccccc;
    margin: 0 !important;
    padding: 0 !important;
    text-align:center;

}

.mainIndex{
    margin: 0 auto;
    text-align: center;
    display:inline-block;

}

.imageContainer{
    width:200px; 
    height:200px; 
    overflow:hidden; 
    margin:10px; 
    position:relative;
}

.img {
    position:absolute;
    margin: auto;
    min-height: 100%;
    min-width:100%;
    left: -100%;
    right: -100%;
    top:-100%;
    bottom: -100%;

}
